{{#> Base title="Pathfinder 2e - Dyslexic Character Sheets"}}

{{#> BuildLayout theme="adventure"}}
    {{#> Left }}
      {{#> Pane bg="parchment" shadow="right"}}
        {{> MenuButtons}}
        
        <img src="/images/coffee-stain.png" id="coffee-stain">

        {{#> Switch id='milestones' current='character'}}

          {{#> SwitchCase value='character'}}
            {{> Milestones
              id="milestones-character"
              forward="slides-character"
              current="start"
              milestones=(array 
                (item milestone="start" title="Start")
                (item milestone="character" title="Character")
                (item milestone="pages" title="Pages")
                (item milestone="colours" title="Colours")
                (item milestone="picture" title="Picture")
                (item milestone="download" title="Download")
              )
            }}
          {{/SwitchCase}}

          {{#> SwitchCase value='gm'}}
            {{> Milestones
              id="milestones-gm"
              forward="slides-gm"
              current="start"
              milestones=(array
                (item milestone="start" title="Start")
                (item milestone="gm" title="GM")
                (item milestone="options" title="Options")
                (item milestone="colours" title="Colours")
                (item milestone="download" title="Download")
              )
            }}
          {{/SwitchCase}}
        {{/Switch}}
      {{/Pane}}
    {{/Left}}

    {{#> Right dark=true}}
      {{#> Pane bg="red"}}

        {{#> Switch
          id='mainview'
          forward='milestones'
          current='character'
        }}
          {{#> SwitchCase value='character'}}

            {{#> Slideshow 
              id='slides-character'
              vertical=true
              forward="milestones-character"
              slides=(array
                "start"
                "pick"
                "character"
                "pages"
                "colours"
                "picture"
                "download"
              )
            }}
              {{#> Slide jump="start" first="true"}}
                <img src="/images/pathfinder2e.png" class="place">
                {{#> TileGrid grid="2-1"}}
                  {{#> Button
                    type="tile"
                    set="body.system=classic;#slides-character.jump=pick"
                  }}
                    <img src="/images/pathfinder2e-classic.png"/>
                    <h3>Classic</h3>
                  {{/Button}}
                  {{#> Button
                    type="tile"
                    set="body.system=remaster;#slides-character.jump=pick"
                  }}
                    <img src="/images/pathfinder2e-remaster.png"/>
                    <h3>Remaster</h3>
                  {{/Button}}

                  {{#> Row align="centre" }}
                    {{#> Button
                      type="tile"
                      set="body.system=both;#slides-character.jump=pick"
                    }}
                      <h3>Use both</h3>
                    {{/Button}}
                  {{/Row}}

                {{/TileGrid}}

              {{/Slide}}

              {{#> Slide jump="pick" slide=0 first=true }}
                <img src="/images/pathfinder2e.png" class="place">
                {{#> TileGrid grid="2" }}
                  {{#> Button 
                    type="tile"
                    emit="next-slide" 
                    data=(item pick="single")
                  }}
                    <img src="/images/single.png" class="stack__stack">
                    <p class="stack__label">{{__ "Character"}}</p>
                  {{/Button}}
                  {{#> Button 
                    type="tile"
                    emit="switch,slide"
                    data=(item pick="gm" slide="character")
                  }}
                    <img src="/images/gm.png" class="stack__stack">
                    <p class="stack__label">{{__ "GM"}}</p>
                  {{/Button}}
                {{/TileGrid}}
              {{/Slide}}
              
              {{#> Slide jump="character" slide=1 show-next=true }}
                  <h2>{{__ "Character"}}</h2>
                  <table class="build-table">
                      <tr>
                          <th>{{__ "Ancestry"}}</th>
                          <td rowspan="2">
                              <div id="swap-area:heritage" class="build-table__swap swap-area">
                              
                                  <div class="swap-option swap-option--default swap-option--show" id="swap-option:heritage:default">
                                      <h4>{{__ "Heritage"}}</h4>
                                      <output name="heritage" data-select="heritage" class="output--select"></output>
                                  </div>

                                  {{#each pf2.selects.ancestry.values}}
                                  <div class="swap-option" id="swap-option:heritage:{{id}}">
                                      {{#each selects}}
                                      <h4>{{__ name}}</h4>
                                      <output name="{{select}}" data-select="{{select}}" class="output--select"></output>
                                      {{/each}}
                                  </div>
                                  {{/each}}
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <output name="ancestry" data-select="ancestry" class="output--select"></output>
                          </td>
                      </tr>

                      <tr>
                          <th>{{__ "Background"}}</th>
                      </tr>
                      <tr>
                          <td>
                              <output name="background" data-select="background" class="output--select"></output>
                          </td>
                      </tr>

                      <tr>
                          {{!-- <th>{{__ "Class"}}</th> --}}
                          <td>
                              <h4>{{__ "Class"}}</h4>
                              <output name="class" data-select="class" class="output--select"></output>
                          </td>
                          <td>
                              <div id="swap-area:subclass" class="build-table__swap swap-area">
                                  <div class="swap-option swap-option--default swap-option--show" id="swap-option:subclass:default">
                                      <h4>{{__ "Subclass"}}</h4>
                                      <output name="subclass" data-select="" class="output--select"></output>
                                  </div>
                                  
                                  {{#each pf2.selects.class.values}}
                                  <div class="swap-option" id="swap-option:subclass:{{id}}">
                                      {{#each selects}}
                                      {{#if (eq max 1)}}
                                      <h4>{{__ name}}</h4>
                                      <output name="{{select}}" data-select="{{select}}" class="output--select"></output>
                                      {{else}}
                                      <h4>{{__ name}}</h4>
                                      <div class="select-options">
                                          {{!-- {{{dump this}}} --}}
                                          {{#each values}}
                                          <label for='{{id}}'><input type='checkbox' name='{{id}}' id='{{id}}'> {{__ name}}</label> 
                                          {{/each}}
                                      </div>
                                      {{/if}}
                                      {{/each}}
                                  </div>
                                  {{/each}}
                              </div>
                          </td>
                      </tr>

                      <tr id="build-multiclass-row">
                          <th>{{__ "Multiclass"}}</th>
                      </tr>
                      <tr>
                          <td colspan="2">
                              <div id="list-area:multiclass" class="list-area">
                                  <div class="list-item-template">
                                      <output class="list-item-name"></output>
                                      <output class="list-item-subitem"></output>
                                      <button class="btn btn--light btn--remove button-remove-multiclass list-item-remove" data-select="multiclass">{{__ "Remove"}}</button>
                                  </div>
                              </div>
                              <button class="btn btn--light button-add button-add-multiclass" data-select="multiclass">{{__ "Add"}}</button>
                          </td>
                      </tr>

                      <tr id="build-archetype-row">
                          <th>{{__ "Archetype"}}</th>
                      </tr>
                      <tr>
                          <td colspan="2">
                              <div id="list-area:archetype" class="list-area">
                                  <div class="list-item-template">
                                      <output class="list-item-name"></output>
                                      <output class="list-item-subitem"></output>
                                      <button class="btn btn--light btn--remove button-remove-multiclass list-item-remove" data-select="archetype">{{__ "Remove"}}</button>
                                  </div>
                              </div>
                              <button class="btn btn--light button-add button-add-archetype" data-select="archetype">{{__ "Add"}}</button>
                          </td>
                      </tr>
                  </table>

                  <div class="columns">
                      <div class="column">
                          <h4>{{__ "Options"}}</h4>
                          <fieldset>
                              <p><label for='feat-diehard'><input type='checkbox' name='feat-diehard' id='feat-diehard'> {{__ "Diehard"}}</label></p>
                              <p><label for='debug'><input type='checkbox' name='debug' id='debug'> {{__ "Debug layouts"}}</label></p>
                          </fieldset>
                      </div>
                      <div class="column">
                          <h4>{{__ "Variant Rules"}}</h4>
                          <fieldset>
                              <p><label for='option-free-archetype'><input type='checkbox' name='free-archetype' id='option-free-archetype'> {{__ "Free archetype"}}</label></p>
                          </fieldset>
                      </div>
                  </div>
              {{/Slide}}
              
              {{#> Slide jump="pages" slide=3 show-next=true }}
                  <h2>{{__ "Pages"}}</h2>
                  <h4>{{__ "Character"}}</h4>
                  <div class="row row--dense">
                      {{> page-option page="permission" label="Permission to print"}}
                      {{> page-option page="cover" label="Cover page" selected="true"}}
                      {{> page-option page="level-up" label="Level up" selected="true"}}
                      {{> page-option page="reference" label="Reference"}}
                      {{> page-option page="actions" label="Actions"}}
                      {{> page-option page="character-background" label="Character Background"}}
                  </div>

                  <h4>{{__ "Inventory"}}</h4>
                  <div class="row row--dense">
                      {{> page-option size="small" page="inventory-half" label="Half" radio="true" name="inventory" value="half"}}
                      {{> page-option page="inventory-full" label="Full" selected="true" radio="true" name="inventory" value="full"}}
                      {{> page-option page="inventory-extra" label="Extra page"}}
                  </div>
                  

                  <h4>{{__ "Companions"}}</h4>
                  <div class="row row--dense">
                      {{> page-option page="animal-companion" label="Animal Companion"}}
                      {{> page-option page="familiar" label="Familiar"}}
                      {{> page-option page="construct" label="Construct"}}
                  </div>
              {{/Slide}}
              
              {{#> Slide jump="colours" slide=4 show-next=true }}
                  <div class="columns">
                      <div class="column">
                          <h2>{{__ "Accessibility"}}</h2>

                          <p>{{__ "Language"}}: &nbsp; <button class="btn btn--light language-button">{{ lang }}</button> {{__ (languagename lang)}}</p>

                          <h4>{{__ "Dyslexia"}}</h4>
                          <fieldset>
                              <p class='dyslexic-fonts'><input type='checkbox' id='option-dyslexic' name='option-dyslexic'> <label for='option-dyslexic'>{{__ "Dyslexic fonts"}}</label></p>
                              <p class='info'>{{__ "Uses easy-to-read fonts, disables all-caps."}}</p>
                              
                              <div class="indent">
                                  <p><label for='option-dyslexic-font-dyslexie' id='font-dyslexie'><input type='radio' name='option-dyslexic-font' value='dyslexie' id='option-dyslexic-font-dyslexie' checked> Dyslexie</label> (<a href='https://dyslexiefont.com/'>dyslexiefont.com</a>)</p>
                                  <p><label for='option-dyslexic-font-lexend' id='font-lexend'><input type='radio' name='option-dyslexic-font' value='lexend' id='option-dyslexic-font-lexend'> Lexend Deca</label> (<a href='https://www.lexend.com/'>lexend.com</a>)</p>
                                  <p><label for='option-dyslexic-font-sans' id='font-sans'><input type='radio' name='option-dyslexic-font' value='sans' id='option-dyslexic-font-sans'> Sans-serif</label></p>
                              </dev>
                          </fieldset>

                          <h4>{{__ "Colours"}}</h4>
                          <fieldset class="high-contrast">
                              <p><span><input type='checkbox' id='option-high-contrast' name='option-high-contrast'> <label for='option-high-contrast'>{{__ "High contrast"}}</label><span></span></p>
                              <p class='info'>{{__ "Makes colours darker, removes white text."}}</p>
                          </fieldset>

                          <div class="row row--centre">
                          <button class="btn btn--primary dyslexic-preset-button">{{__ "Dyslexic Preset"}}</button>
                          </div>

                          <h4>{{__ "Large print"}}</h4>
                          <fieldset>
                              <p class='large-print'><input type='checkbox' id='option-large-print' name='option-large-print'> <label for='option-large-print'>{{__ "Large print"}}</label></p>   
                              <p class='info'>{{__ "Enlarges text and fields, omits some elements to fit on the page."}}</p>
                          </fieldset>
                      </div>
                      
                      <div class="column">
                          <h2>{{__ "Colours"}}</h2>

                          <div class="row">
                              {{> colour-output id="base" name="Base colour" }}
                              {{> colour-output id="accent" name="Accent colour" }}
                          </div>

                          <div class="brightness-picker">
                              <label>{{__ "Print darkness"}}</label>
                              <div class="brightness-picker__inner">
                                  <div class="brightness-picker__inner2">
                                      <input type="range" min="1" max="9" value="5" name="colour-brightness">
                                      <span class="brightness-picker__notch"></span>
                                  </div>
                              </div>
                          </div>

                          <h2>{{__ "Page Background"}}</h2>
                          <div class="row">

                          </div>

                      </div>
                  </div>
              {{/Slide}}
              
              {{#> Slide jump="picture" slide=5 show-next=true }}
                  <h2>{{__ "Picture"}}</h2>

                  <p>...</p>
              {{/Slide}}
              
              {{#> Slide jump="download" slide=6 last=true }}
                  <h2>{{__ "Download"}}</h2>

                  <h4>{{__ "International"}}</h4>
                  <fieldset>
                      <p>{{__ "Language"}}: &nbsp; <button class="btn btn--light language-button">{{ lang }}</button> {{__ (languagename lang)}}</p>
                      <p>{{__ "Measurement units"}}: 
                          <select name="units">
                          <option selected id='units-default'>{{__ "Default"}} ({{__ "feet"}})</option>
                          <option value="imperial">{{__ "Imperial"}} ({{__ "feet"}})</option>
                          <option value="metric">{{__ "Metric"}} ({{__ "metres"}})</option>
                          {{!-- <option value="chinese">{{__ "Chinese"}} ({{__ "步"}})</option> --}}
                          </select>
                      </p>
                  </fieldset>

                  <h4>{{__ "Format"}}</h4>
                  <fieldset>
                      <div class="columns">
                          <div class="column">
                              <p>
                                  <input type='radio' name='download-format' value='html' id='download-format-html' checked>
                                  <label for='download-format-html'><b>{{__ "HTML"}}</b></label>
                              </p>
                              <p class='info'>{{__ "Allows values to be filled in"}}</p>
                              <p class='info'>{{__ "Adjusts to fit your paper size"}}</p>
                          </div>
                          <div class="column">
                              <p>
                                  <input type='radio' name='download-format' value='pdf' id='download-format-pdf'>
                                  <label for='download-format-pdf'><b>{{__ "PDF"}}</b></label>
                              </p>
                              <p class='info'>{{__ "Use this if you have trouble printing HTML"}}</p>
                              <p class='info'>
                                  <b>{{__ "Paper size:"}}</b>
                                  <input type='radio' name='download-paper' value='Letter' id='download-letter' checked>
                                  <label for='download-letter'>{{__ "US Letter"}}</label>

                                  <input type='radio' name='download-paper' value='A4' id='download-a4'>
                                  <label for='download-a4'>{{__ "A4"}}</label>
                              </p>
                          </div>
                      </div>
                  </fieldset>

                  <button class="place btn btn--primary button-download">{{__ "Download"}}</button>
              {{/Slide}}

            {{/Slideshow}}
          {{/SwitchCase}}

          {{#> SwitchCase value='gm'}}      
            {{#> Slideshow
              id='slides-gm'
              forward='milestones-gm'
              vertical=true
              current='start'
              slides=(array
                "start"
                "gm"
                "options"
                "colours"
                "download"
              )  
            }}
              {{#> Slide jump="start" slide=0 first=true }}
                  <img src="/images/pathfinder2e.png" class="place">
                  <div class="row">
                      <button class="stack pick-single">
                          <img src="/images/single.png" class="stack__stack">
                          <p class="stack__label">{{__ "Character"}}</p>
                      </button>
                      <button class="stack pick-gm">
                          <img src="/images/gm.png" class="stack__stack">
                          <p class="stack__label">{{__ "GM pages"}}</p>
                      </button>
                  </div>
              {{/Slide}}
              
              {{#> Slide jump="gm" slide=1 }}
                  <div class="grid grid--2-2">
                      <button class="stack stack--fill pick-gm-npc">
                          <p class="stack__label">{{__ "NPCs"}}</p>
                      </button>
                      <button class="stack stack--fill pick-gm-maps">
                          <p class="stack__label">{{__ "Maps"}}</p>
                      </button>
                      <button class="stack stack--fill pick-gm-kingdom">
                          <p class="stack__label">{{__ "Kingdom"}}</p>
                      </button>
                  </div>
              {{/Slide}}

              {{#> Slide jump="options" slide=2 show-next=true }}
                  {{#> tab-panes set='gm'}}
                      {{#> tab-pane set='gm' name='npc' pane-selected=true}}
                          <h3>{{__ "NPCs"}}</h3>
                      {{/tab-pane}}

                      {{#> tab-pane set='gm' name='maps' pane-selected=true}}
                          <h3>{{__ "Maps"}}</h3>

                      {{/tab-pane}}

                      {{#> tab-pane set='gm' name='kingdom' pane-selected=true}}
                          <h3>{{__ "Kingdom"}}</h3>
                      {{/tab-pane}}
                  {{/tab-panes}}
              {{/Slide}}
              
              {{#> Slide jump="colours" slide=3 show-next=true }}
                <p>Colours</p>
              {{/Slide}}
              
              {{#> Slide jump="download" slide=4 last=true }}
                <p>Download</p>
              {{/Slide}}
            {{/Slideshow}}
          {{/SwitchCase}}
        {{/Switch}}
      {{/Pane}}
    {{/Right}}
{{/BuildLayout}}

{{!-- {{> pathfinder2-ancestry-menu }}
{{#each pf2.subselects.ancestry}}
    {{> pathfinder2-heritage-menu key=this.select items=this}}
{{/each}}
{{> pathfinder2-background-menu }}
{{> pathfinder2-class-menu }}
{{#each pf2.subselects.class}}
    {{> pathfinder2-subclass-menu key=this.select items=this}}
{{/each}}
{{> pathfinder2-multiclass-menu }}
{{> pathfinder2-archetype-menu }}

{{> colour-picker-menu id="base" name="Base Colour" }}
{{> colour-picker-menu id="accent" name="Accent Colour" }} --}}

{{/Base}}
