{{#> Base title="Dyslexic Character Sheets" }}

{{#> HomeLayout }}
  {{#> Left }}
    {{#> Pane bg="parchment"}}
      {{> MenuButtons }}
      {{> Quote }}
      
      <div class="spacer"></div>

      <div class="hero">
        <h1>
          <img src="/images/favicon64.png">
          {{__ "Dyslexic Character Sheets"}}
        </h1>

        <p>{{__ "Personalised character sheets, unique to your character and free for you to print."}}</p>

        <nav class="nav--bar"><a href="/{{lang}}/tour.html" id="tour-button" class="btn btn--primary">Tour</a></nav>

        <div class="pad"></div>

        {{#> Well }}
          <h4>Latest update</h4>
          <p>{{news.0.title}}</p>
          <nav class="nav--bar"><a class="btn btn--light" href="/{{lang}}/news">Read more</a></nav>
        {{/Well}}

        <nav class="nav--bar">
          <a href="https://www.patreon.com/dyslexic_charactersheets" class="btn btn--light btn--bgicon button-patreon">{{__ "Patreon"}}</a>
          <a href="https://github.com/dyslexic-charactersheets" class="btn btn--light btn--bgicon button-github">{{__ "GitHub"}}</a>
        </nav>
        <nav class="nav--bar">
          <a href="https://www.facebook.com/groups/dyslexiccharactersheets" class="btn btn--light btn--bgicon button-facebook">{{__ "Facebook"}}</a>
          <a href="https://discord.gg/ajVTD4N" class="btn btn--light btn--bgicon button-discord">{{__ "Discord"}}</a>
          <button class="btn btn--light button-contact">{{__ "Contact"}}</button>
        </nav>

        <nav class="small-print nav--bar">
          <a href="/{{lang}}/open-source.html">{{__ "Open source"}}</a> | 
          <a href="/{{lang}}/translating.html">{{__ "Translating"}}</a> | 
          <a href="/{{lang}}/legal.html">{{__ "Legal"}}</a>
        </nav>
      </div>
      <div class="spacer"></div>
    {{/Pane}}
  {{/Left}}

  {{#> Right}}
    {{#> Pane bg="red" shadow="right"}}
      {{#> CentrePane }}
        {{#> TileGrid grid="2-2"}}
          {{#> Button type="tile" href="build-pathfinder2" badge="2e"}}
            {{> Picture src="/images/pathfinder2e-stack.png" size="tile-large"}}
            {{> Picture src="/images/pathfinder2e.png" size="logo"}}
          {{/Button}}

          {{#> Button type="tile" href="build-starfinder1"}}
            {{> Picture src="/images/starfinder-stack.png" size="tile-large"}}
            {{> Picture src="/images/starfinder.png" size="logo"}}
          {{/Button}}

          {{#> Button type="tile" href="build-pathfinder1" badge="1e"}}
            {{> Picture src="/images/pathfinder-stack.png" size="tile-large"}}
            {{> Picture src="/images/pathfinder.png" size="logo"}}
          {{/Button}}

          {{#> Button type="tile" href="build-dnd35" badge="3.5e"}}
            {{> Picture src="/images/dnd35-stack.png" size="tile-large"}}
            {{> Picture src="/images/dnd35.png" size="logo"}}
          {{/Button}}
        {{/TileGrid}}
      {{/CentrePane}}
        
{{!-- 
      <div class="place">
        <div class="grid grid--2-2">
          <a href="/{{lang}}/build-pathfinder2.html" class="stack">
            <img src="/images/pathfinder2e-stack.png" class="stack__stack">
            <img src="/images/pathfinder2e.png" class="stack__logo">
            <span class="stack__edition">{{__ "2e"}}</span>
          </a>
          <a href="/{{lang}}/build-starfinder.html" class="stack">
            <img src="/images/starfinder-stack.png" class="stack__stack">
            <img src="/images/starfinder.png" class="stack__logo">
          </a>
          <a href="/{{lang}}/build-pathfinder1.html" class="stack">
            <img src="/images/pathfinder-stack.png" class="stack__stack">
            <img src="/images/pathfinder.png" class="stack__logo">
            <span class="stack__edition">{{__ "1e"}}</span>
          </a>
          <a href="/{{lang}}/build-dnd35.html" class="stack">
            <img src="/images/dnd35-stack.png" class="stack__stack">
            <img src="/images/dnd35.png" class="stack__logo">
            <span class="stack__edition">{{__ "3.5e"}}</span>
          </a>
        </div>
      </div> --}}
    {{/Pane}}
  {{/Right}}
{{/HomeLayout}}

<script src="/data.js"></script>

{{/Base}}
