{{#> Base title="News - Dyslexic Character Sheets" }}

{{#> ReadLayout }}
  {{#> Left dark=true}}
    {{#> Pane bg="blue"}}
      {{> MenuButtons}}

      <nav class="nav--dated">
          <ul>
          {{#each news}}
              <li><a href="#news-{{slug}}" data-set="">
                  {{title}}
                  <time datetime="{{date}}">{{ dayOfMonth }} {{ shortMonth }} {{ dateYear }}</time>
              </a></li>
          {{/each}}
          </ul>
      </nav>
    {{/Pane}}
  {{/Left}}

  {{#> Right }}
    {{#> Pane bg="parchment"}}
      {{#> ReadArea}}
        {{> SmallMenuButtons}}
        <img src="/images/coffee-stain.png" id="coffee-stain">

        {{#each news}}
        <article class="news" id="news-{{slug}}">
          <h2>{{ title }}</h2>
          <time datetime="{{date}}"><span class="day">{{ dayOfMonth }}</span><span class="month">{{ shortMonth }}</span><span class="year">{{ dateYear }}</span></time>

          {{#if file}}
          <a href="{{ fileURL }}">{{ file }}</a>
          {{/if}}
          {{{ autop body }}}
        </article>
        {{/each}}

      {{/ReadArea}}
    {{/Pane}}
  {{/Right}}
{{/ReadLayout}}

{{/Base}}
