{{#> Base title="Open Source - Dyslexic Character Sheets" }}

{{#> ContentLayout page="open-source" }}

<h1>{{__ "Open Source"}}</h1>

{{#> Box}}
    <p>The character sheets are free and open source.</p>
{{/Box}}

{{#> Columns}}
{{#> Column}}

    <h2>What does "open source" mean?</h2>

    <p>Everything that makes this project work has been published. All the artwork, script files, source code and other ingredients are available for you to download.</p>

    <p>All this stuff has been released under a <a href="/{{lang}}/legal.html">license</a> that lets you change them and use them in new ways (provided you stick to a few simple rules).</p>

    <p>You can contribute back to this project, and your work can be of benefit to others, but you don't have to.</p>

    <p>This project can continue if I die, or if I lose interest and take it away, as long as a copy survives somewhere.</p>

    <nav class="nav--bar">
        {{#> Button href="https://github.com/dyslexic-charactersheets" type="light" cls="btn--bgicon button-github"}}{{__ "GitHub"}}{{/Button}}
    </nav>

    <h2>What can I do with them?</h2>

    <p>Anything covered by the license, including:</p>

    <ul>
        <li>Changing invididual pages to fit the way you play</li>
        <li>Making character sheets for new or variant classes that I haven't covered</li>
        <li>Creating a new version of the whole project, with your changes, and making that available to other people</li>
        <li>Converting the project to a different game</li>
    </ul>

    <p>If you make useful changes, I encourage you to give them back to the community. Send me a message with your contact details, and if I like your work I'll incorporate it into the project. Even if I don't, you can still publish it on Paizo's forums or the web for others to see.</p>

{{/Column}}
{{#> Column}}

    <h2>What can't I do?</h2>

    <p>You're not allowed to:</p>

    <ul>
        <li>Pretend you made them yourself</li>
        <li>Strip the OGL, ORC Notice and other legal information out of the project</li>
        <li>Anything not permitted by other publishers whose properties this project makes use of, including Wizards of the Coast and Paizo</li>
    </ul>

    <h2>What's to stop me stealing them?</h2>

    <p>Using the sheets as you like isn't stealing them, it's permitted and encouraged.</p>

    <p>The only way you could “steal” the sheets is to plagiarise them - to claim that you made them yourself. Don't do that.</p>

    <p>For more information, see the <a href="/{{lang}}/legal.html">Legal Information</a> page</p>

    <h2>Questions</h2>

    <p>If you have any questions or want to get involved, you can contact me here:</p>

    <nav class="nav--bar">
        {{#> Button type="light" cls="button-contact" on-click="body.currentMenu = contact-menu"}}{{__ "Contact"}}{{/Button}}
    </nav>

{{/Column}}
{{/Columns}}

{{/ContentLayout}}

{{/Base}}
