<div class='colour-wheel'>
    <object data="/images/colour-wheel.svg" type="image/svg+xml" class="colour-wheel-svg" width="280" height="280"></object>
    <input type='radio' name='{{id}}' value='grey' id='colour-wheel-grey' checked>

    <input type='radio' name='{{id}}' value='red' id='colour-wheel-{{id}}-red'>
    <input type='radio' name='{{id}}' value='orange' id='colour-wheel-{{id}}-orange'>
    <input type='radio' name='{{id}}' value='gold' id='colour-wheel-{{id}}-gold'>
    <input type='radio' name='{{id}}' value='lime' id='colour-wheel-{{id}}-lime'>
    <input type='radio' name='{{id}}' value='green' id='colour-wheel-{{id}}-green'>
    <input type='radio' name='{{id}}' value='teal' id='colour-wheel-{{id}}-teal'>
    <input type='radio' name='{{id}}' value='cyan' id='colour-wheel-{{id}}-cyan'>
    <input type='radio' name='{{id}}' value='azure' id='colour-wheel-{{id}}-azure'>
    <input type='radio' name='{{id}}' value='blue' id='colour-wheel-{{id}}-blue'>
    <input type='radio' name='{{id}}' value='indigo' id='colour-wheel-{{id}}-indigo'>
    <input type='radio' name='{{id}}' value='violet' id='colour-wheel-{{id}}-violet'>
    <input type='radio' name='{{id}}' value='magenta' id='colour-wheel-{{id}}-magenta'>

    <input type='radio' name='{{id}}' value='red2' id='colour-wheel-{{id}}-red2'>
    <input type='radio' name='{{id}}' value='orange2' id='colour-wheel-{{id}}-orange2'>
    <input type='radio' name='{{id}}' value='gold2' id='colour-wheel-{{id}}-gold2'>
    <input type='radio' name='{{id}}' value='lime2' id='colour-wheel-{{id}}-lime2'>
    <input type='radio' name='{{id}}' value='green2' id='colour-wheel-{{id}}-green2'>
    <input type='radio' name='{{id}}' value='teal2' id='colour-wheel-{{id}}-teal2'>
    <input type='radio' name='{{id}}' value='cyan2' id='colour-wheel-{{id}}-cyan2'>
    <input type='radio' name='{{id}}' value='azure2' id='colour-wheel-{{id}}-azure2'>
    <input type='radio' name='{{id}}' value='blue2' id='colour-wheel-{{id}}-blue2'>
    <input type='radio' name='{{id}}' value='indigo2' id='colour-wheel-{{id}}-indigo2'>
    <input type='radio' name='{{id}}' value='violet2' id='colour-wheel-{{id}}-violet2'>
    <input type='radio' name='{{id}}' value='magenta2' id='colour-wheel-{{id}}-magenta2'>
</div>