<aside id="contact-menu" class="aside--left">
    <div class="aside__inner">
        <nav class="nav--row">
            <button class="btn btn--min btn--icon menu-button">☰</button>
            <button class="btn btn--light language-button">{{ lang }}</button>
            <button class="btn btn--light login-button"><i class="i-user"></i>{{__ "Login"}}</button>
            <div class="spacer"></div>
            {{> CloseButton }}
        </nav>

        <nav class="nav--menu">
            <h3>{{__ "Contact"}}</h3>

            <form id="message-form" method="post" action="/message" class="contact-form">
                <p>{{__ "Your message"}}:</p>

                <textarea name="message"></textarea>

                <p>
                    <label for="game">{{__ "Which game is this about?"}}</label>
                </p>
                <div class="row">
                    <label><input type="radio" name="game" value="pf2"> {{__ "Pathfinder 2e"}}</label>
                    <label><input type="radio" name="game" value="sf"> {{__ "Starfinder"}}</label>
                </div>
                <div class="row">
                    <label><input type="radio" name="game" value="pf1"> {{__ "Pathfinder 1e"}}</label>
                    <label><input type="radio" name="game" value="d35"> {{__ "D&D 3.5"}}</label>
                </div>

                <p>
                    <label for="author">
                        {{__ "Your name"}}:
                        <input id="author" name="author" type="text" placeholder="The Internet" class="box">
                    </label>
                </p>
                <p>
                    <label for="email">
                        {{__ "Optionally, your email address"}}:
                    </label>
                </p>
                <p>
                    <input id="email" name="email" type="email" placeholder="But only if you feel like it" class="box">
                </p>
                
                <button class="btn btn--primary" id="message-send">{{__ "Send Message"}}</button>
            </form>
        </nav>

        <img class="page-curl" src="/images/page-curl.png">
    </div>
</aside>