<aside id="language-menu" class="aside--left">
    <div class="aside__inner dark-region">
        <nav class="nav--row">
            <button class="btn btn--min btn--icon menu-button">☰</button>
            <button class="btn btn--light language-button btn--selected">{{ lang }}</button>
            <button class="btn btn--light login-button"><i class="i-user"></i>{{__ "Login"}}</button>
            <div class="spacer"></div>
            {{> close-button }}
        </nav>

        <nav class="nav--menu">
            <h3>{{__ "Language"}}</h3>
            
            <ul class="pick-list">
            {{#each languages}}
                <li>
                    <a class="option{{#if (eq ../lang this)}} option--selected{{/if}}" href="{{tolang this ../page}}">
                        <span class='badge badge--language'>{{this}}</span>
                        <b>{{languagename this}}</b> / 
                        {{__ (languagename this)}}
                    </a>
                </li>
            {{/each}}
            </ul>
        </nav>
    </div>
</aside>