<aside class="aside--right aside--wide" data-key="{{key}}">
    {{!-- {{{dump items}}} --}}
    <div class="aside__inner">
        {{#> build-aside-book-pallette close-button=true key=key name=name game='pf2' items=items}}
            <button class="option option--spot option--portrait{{#if value.small}} option--portrait-small{{/if}}" 
                    data-select="{{../key}}" data-value="{{value.id}}" data-text="{{__ value.name}}">
                <label>{{__ value.name}}</label>
                {{#if value.badge}}
                    <span class="option__badge">{{__ value.badge}}</span>
                {{/if}}
            </button>
        {{/build-aside-book-pallette}}
    </div>
</aside>