<aside id="archetype-menu" class="aside--right aside--wide" data-key="archetype">
    <div class="aside__inner">
        {{#> build-aside-book-pallette close-button=true key='archetype' name='Archetype' game='pf2' items=pf2.selects.archetype}}
            <button class="option option--spot option--portrait" data-select="archetype"
                    data-value="{{value.id}}" data-text="{{__ value.name}}" data-next="{{nextSelect value.selects}}"
                    data-list-area="archetype">
                {{!-- {{{dump value.selects}}} --}}
                <label>{{__ value.name}}</label>
                {{#if value.badge}}
                    <span class="option__badge">{{__ value.badge}}</span>
                {{/if}}
            </button>
        {{/build-aside-book-pallette}}
    </div>
</aside>