<aside id="ancestry-menu" class="aside--right aside--wide" data-key="ancestry">
    <div class="aside__inner">
        {{#> build-aside-book-pallette close-button=true key='ancestry' name='Ancestry' game='pf2' items=pf2.ancestries}}
            <button class="option option--spot option--portrait{{#if value.small}} option--portrait-small{{/if}}" 
                    data-select="ancestry" data-value="{{value.id}}" data-text="{{__ value.name}}" data-next="{{nextSelect value.selects}}">
                {{!-- {{{dump value}}} --}}
                <img src="/images/options/{{value.id}}.png">
                <label>{{__ value.name}}</label>
                {{#if value.badge}}
                    <span class="option__badge">{{__ value.badge}}</span>
                {{/if}}
            </button>
        {{/build-aside-book-pallette}}
    </div>
</aside>